<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FeedingTime</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>


        .btn {
            box-sizing: border-box;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: transparent;
            border: 2px solid #e74c3c;
            border-radius: 0.6em;
            color: #e74c3c;
            cursor: pointer;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-item-align: center;
            align-self: center;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1;
            margin: 20px;
            padding: 1.2em 2.8em;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
        }

            .btn:hover, .btn:focus {
                color: #fff;
                outline: 0;
            }

        .third {
            border-color: #3498db;
            color: #fff;
            box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
            -webkit-transition: all 150ms ease-in-out;
            transition: all 150ms ease-in-out;
        }

            .third:hover {
                box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
            }

        /* Home Logo*/
        .HomePic {
            position: absolute;
            top: 8px;
            left: 40px;
            font-size: 18px;
            border-radius:50%;
        }
         
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <div class="HomePic">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> <img src="~/Img/Home Button.PNG" alt="Home Button" style="width:300px;height:100px; border-radius:50%"> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <form>
                                <a class="btn third" type="button" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </form>
                        </li>

                        <li class="nav-item">
                            <form>
                                <a class="btn third" type="button" asp-area="" asp-controller="Animal" asp-action="">Animals</a>
                            </form>
                        </li>

                        <li class="nav-item">
                            <form>
                                <a class="btn third" type="button" asp-area="" asp-controller="StaffMember" asp-action="">Staff</a>
                            </form>
                        </li>

                        <li class="nav-item">
                            <form>
                                <a class="btn third" type="button" asp-area="" asp-controller="Food" asp-action="">Food</a>
                            </form>
                        </li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="color:white">
            &copy; 2021 - FeedingTime - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>