@{
    ViewData["Title"] = "Home Page";
}

<style>

    body {
        background-image: url('https://cdn.discordapp.com/attachments/521940018449743874/883246182627954749/Animal_kingdom_nzwbda.png');
    }

    FeedingTime {
        font-size: 80px;
        font-weight: bold;
    }
    

</style>
<div class="text-center">
    <h1 style="color:blue" class="display-4"> <b>Welcome to Feeding Time!</b> </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
