@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Azeret+Mono&display=swap" rel="stylesheet">

<style>

    body {
        background-image: url('Img/AnimalWorldHomepage1.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .FeedingTime {
        font-size: 65px;
        font-family: 'Alfa Slab One', cursive;
        color: white;
    }
</style>
<div class="text-center">
    <h1 class="FeedingTime"> Welcome to Feeding Time!</h1>
</div>




